/* font-family: 'Kanit', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* NavBar Stylings */

.navbar {
  background-color: #000;
  padding: 0;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
}

.navbar a {
  color: #fff;
  font-size: 0.8rem;
  margin: 0.5rem 1rem;
}

.navbar a:hover,
.navbar a:focus {
  color: #fff;
}

.navbar .nav-item .dropdown-menu {
  background-color: #fff;
  color: #000;
}

.navbar .nav-item .dropdown-menu a {
  color: #000;
  margin: 0;
  padding: 0 auto;
}

.navbar .nav-item .dropdown-menu a:hover {
  background-color: #ccc;
}

.navbar .nav-item .dropdown-title {
  color: #fff !important;
}

.navbar .nav-item .dropdown-title:hover {
  color: #fff;
}

.navbar .nav-item .btn-primary {
  background-color: #e63d00;
  color: #fff;
  font-size: 0.8rem;
  border: none;
}

.navbar .nav-item .btn-primary:hover {
  background-color: #9d2c03;
}

.dropdown-header {
  font-size: 0.8rem;
  font-weight: 500;
  color: #eee;
}

.dropdown-para {
  font-size: 0.7rem;
  font-weight: 300;
  color: #777;
}

/* Header Styles */
header {
  background-image: url(../assets/Header/header.jpg);
  max-width: 100%;
  height: 40vh;
  background-position: center 30%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10%;
  padding-left: 10%;
}

header h1 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.header-search {
  width: 70%;
}

.header-search input::placeholder {
  font-size: 0.8rem;
  color: #999;
}

/* Events Styles */
.events {
  max-width: 100%;
  height: auto;
  margin: 0% 15%;
}

.events h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.events a {
  font-size: 0.6rem;
  margin-left: 3%;
}

.events p {
  font-size: 0.6rem;
}

.events .card {
  border: none;
  margin-top: 3%;
}

.events .card .card-body {
  border: none;
}

.events .card .card-img-event .card-img-top {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 4% 4% 4% 4%;
}

.events .card-img-event {
  position: relative;
}

.events .card-img-icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 2% 3%;
  position: absolute;
  bottom: 0;
  background-color: rgb(7, 7, 187);
  border-radius: 0% 0% 5% 5%;
}

.live {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.live .btn-danger {
  font-size: 0.7rem;
  padding: 0;
  margin-top: 5%;
  letter-spacing: 0.1rem;
}

.live .live-icon {
  width: 20%;
  height: 50%;
}

.events .card .card-body {
  margin: 0;
  padding: 0;
}

.events .card-title {
  font-size: 0.9rem;
  font-weight: 700;
  color: #000;
  margin-top: 5%;
}

.events .card-text {
  font-size: 0.7rem;
  font-weight: 500;
  color: #777;
  margin: 0;
}

.events .card-time {
  font-size: 0.7rem;
  font-weight: 300;
  color: #aaa;
  margin-top: 1%;
}

.events .card-img-icon-text .card-img-icon {
  width: 10%;
  height: 10%;
}

.events .card-img-text {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
}

.events .btn-dark {
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
  border: none;
}

.events .btn-dark:hover {
  background-color: #111;
  color: #fff;
}

/* Explore Styles */
.explore {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(28, 0, 164, 1) 0%,
    rgba(111, 9, 121, 1) 31%,
    rgba(0, 10, 208, 1) 100%
  );
}

.explore-container {
  margin: 0% 8%;
}

.explore-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.explore .explore-buttons button {
  font-size: 0.8rem;
  margin-right: 1%;
}

.explore-heading {
  color: #fff;
  font-size: 1.5rem;
}

.explore-events {
  margin-bottom: 5%;
}

.explore .row .explore-events .card {
  border: none;
  margin-top: 3%;
  background-color: #fff;
}

.explore-events .card .card-body {
  border: none;
}

.explore-events .card .card-img-event .card-img-top {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.explore-events .card-img-event {
  position: relative;
}

.explore-events .card-img-event .card-img-date-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 25%;
  margin: 2% 3%;
  padding: 9% 5%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgb(231, 2, 136) 0%,
    rgb(146, 0, 85) 100%,
    rgba(111, 9, 121, 1) 31%
  );
  border-radius: 5% 5% 5% 5%;
}

.explore-events .card-img-date-text .card-img-text {
  font-weight: 500;
  color: #fff;
}

.explore-events .card-img-date-text #day {
  font-size: 0.6rem;
  font-weight: 400;
}

.explore-events .card-img-date-text #date {
  font-size: 1.5rem;
  font-weight: 500;
}

.explore-events .card-date-time {
  font-size: 0.7rem;
  font-weight: 600;
  color: #000;
}

.explore-events .card-body .card-date-time .card-img-icon {
  width: 6%;
  height: 6%;
}

.explore-events .card-title {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  margin-top: 5%;
}

.explore-events .card-body .card-time {
  font-size: 0.7rem;
  font-weight: 500;
  color: #777;
}

.explore-events .card-footer .text-body-secondary {
  font-size: 0.7rem;
  font-weight: 500;
  color: #777;
}

.explore-events .card-footer .card-footer-add {
  font-size: 0.6rem;
}

.explore .explore-icon {
  margin-top: 14%;
}

.explore .explore-icon .arrows {
  width: 40%;
  height: 40%;
  background-color: #fff;
  padding: 10% 10%;
  border-radius: 50%;
}

.explore .explore-icon .arrows:hover {
  background-color: #ccc;
}

@media (max-width: 992px) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}

/* Popular Bands Styles */
.popular-band {
  height: 100%;
  width: 100%;
  background: #f9f9f9;
}

.popular-container {
  margin: 0% 15%;
}

.popular-heading {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.popular-para {
  color: #777;
  font-size: 0.7rem;
}

.popular-link {
  color: rgb(212, 63, 4);
  font-size: 0.9rem;
  text-decoration: none;
}

.popular-link:hover {
  text-decoration: underline;
}

.popular-band .card {
  border: none;
  margin-top: 3%;
  background-color: #f9f9f9;
}

.popular-band .card .card-body {
  border: none;
  margin: 1%;
  padding: 1%;
}

.popular-band .card .card-title {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
}

.popular-band .card .card-text {
  font-size: 0.6rem;
  font-weight: 500;
  color: #777;
  margin-bottom: 3%;
}

.popular-band .btn-warning {
  background: linear-gradient(
    90deg,
    rgba(253, 59, 29, 1) 83%,
    rgba(254, 122, 4, 1) 99%
  );
  color: #fff;
  font-size: 0.7rem;
  border: none;
}

.popular-band .btn-warning:hover {
  background-color: #9d2c03;
  color: #fff;
}

/* Music Artists Styles */

.popular-artists {
  height: 100%;
  width: 100%;
  background: #fff;
}

.popular-artists .card .profile-photo-container .profile-photo {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.popular-artists-container {
  margin: 0% 15%;
}

.popular-artists .popular-artists-container .card {
  border: none;
  margin-top: 3%;
  padding: 10% 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.popular-artists .popular-artists-container .card .card-body {
  border: none;
  margin: 1%;
  padding: 1%;
}

.popular-artists .card .profile-photo-container .card-title {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  margin-top: 20%;
  margin-bottom: 0;
  letter-spacing: 0.03rem;
}

.popular-artists .card .profile-photo-container .card-text {
  font-size: 0.6rem;
  font-weight: 500;
  color: #777;
  margin-bottom: 3%;
}

.popular-artists .card .profile-photo-container .btn-warning {
  background-color: #f5f5f5;
  color: #000;
  font-size: 0.6rem;
  border: none;
}

.popular-artists .card .profile-photo-container .btn-warning:hover {
  background-color: #f1f0f0;
}
